name: Test Deployment

on:
  workflow_dispatch:
    inputs:
      job:
        description: 'The job to run'
        required: true
        default: 'deploy-with-redeploy-support'
        type: choice
        options:
          - deploy-with-redeploy-support
          - deploy-temp

jobs:
  deploy-temp:
    if: ${{ github.event.inputs.job == 'deploy-temp' }}
    name: Deploy to Akash
    runs-on: ubuntu-latest
    outputs:
      dseq: ${{ steps.deploy.outputs.dseq }}
      deployment-id: ${{ steps.deploy.outputs.deployment-id }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Deploy to Akash
        id: deploy
        uses: akash-network/gh-actions/packages/deploy@main
        with:
          mnemonic: ${{ secrets.AKASH_MNEMONIC }}
          bid-filter: | # yaml
            id.provider:
              $nin:
                - akash1yp2p50fdv9ypulq4m4yxpyjswmsa7yanrjtlvt
          rest-url: https://api.sandbox-2.aksh.pw:443
          tx-rpc-url: https://rpc.sandbox-2.aksh.pw:443
          sdl: | # yaml
            version: "2.0"

            services:
              web:
                image: baktun/hello-akash-world:1.0.0
                expose:
                  - port: 3000
                    as: 80
                    to:
                      - global: true
            profiles:
              compute:
                web:
                  resources:
                    cpu:
                      units: 0.5
                    memory:
                      size: 512Mi
                    storage:
                      size: 512Mi

              placement:
                dcloud:
                  pricing:
                    # The name of the service
                    web:
                      denom: uakt
                      amount: 10000

            deployment:
              web:
                dcloud:
                  profile: web
                  count: 1

      - name: Print deployment info
        run: |
          echo "Deployment ID: ${{ steps.deploy.outputs.deployment-id }}"
          echo "DSEQ: ${{ steps.deploy.outputs.dseq }}"
          echo "Lease ID: ${{ steps.deploy.outputs.lease-id }}"
          echo "Provider: ${{ steps.deploy.outputs.provider }}"

      - name: Emulation some work (wait for 30 secs)
        run: sleep 30

      - name: Close Akash Deployment
        id: close
        uses: akash-network/gh-actions/packages/close-deployment@main
        with:
          mnemonic: ${{ secrets.AKASH_MNEMONIC }}
          filter: | # yaml
            dseq: ${{ steps.deploy.outputs.dseq }}
          rest-url: https://api.sandbox-2.aksh.pw:443
          tx-rpc-url: https://rpc.sandbox-2.aksh.pw:443

      - name: Print close info
        run: |
          echo "Closed deployment: ${{ steps.close.outputs.deployment-id }}"
          echo "Transaction hash: ${{ steps.close.outputs.tx-hash }}"

  deploy-with-redeploy-support:
    if: ${{ github.event.inputs.job == 'deploy-with-redeploy-support' }}
    permissions:
      contents: write
      pull-requests: write
    name: Deploy to Akash with redeploy support
    runs-on: ubuntu-latest
    outputs:
      dseq: ${{ steps.deploy.outputs.dseq }}
      deployment-id: ${{ steps.deploy.outputs.deployment-id }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Akash Update SDL
        uses: ovrclk/akash-ghaction-templated-sdl@v1
        env:
          APP_VERSION: 1.0.0-${{ github.run_id }}
        with:
          TEMPLATE_PATH: example/deploy.tpl.yml
          OUT_PATH: example/deploy.yml
      - name: Deploy to Akash
        id: deploy
        uses: akash-network/gh-actions/packages/deploy@main
        with:
          mnemonic: ${{ secrets.AKASH_MNEMONIC }}
          bid-filter: | # yaml
            id.provider:
              $nin:
                - akash1yp2p50fdv9ypulq4m4yxpyjswmsa7yanrjtlvt
          rest-url: https://api.sandbox-2.aksh.pw:443
          tx-rpc-url: https://rpc.sandbox-2.aksh.pw:443
          sdl: ./example/deploy.yml
          deployment-details-path: ./.akash/example/deployment-details.json
      - name: Close stale deployment in case of full redeploy
        if: steps.deploy.outputs.prev-dseq != ''
        uses: akash-network/gh-actions/packages/close-deployment@main
        with:
          mnemonic: ${{ secrets.AKASH_MNEMONIC }}
          filter: | # yaml
            dseq: ${{ steps.deploy.outputs.prev-dseq }}
          rest-url: https://api.sandbox-2.aksh.pw:443
          tx-rpc-url: https://rpc.sandbox-2.aksh.pw:443

      - name: Create PR with deployment details
        if: steps.deploy.outputs.is-new == 'true'
        id: deployment-details
        uses: peter-evans/create-pull-request@v8
        with:
          add-paths: ./.akash/example/deployment-details.json
          commit-message: "chore: save deployment details"
          title: "chore: save deployment details"
          body: |
            Store deployment details.
          branch: chore/deployment-details-${{ steps.deploy.outputs.dseq }}

      - name: Print PR info
        if: ${{ steps.deployment-details.outputs.pull-request-number }}
        run: |
          echo "Pull Request Number - ${{ steps.deployment-details.outputs.pull-request-number }}"
          echo "Pull Request URL - ${{ steps.deployment-details.outputs.pull-request-url }}"
